.List {
    width: 60%;
    min-width: 300px;
    height: 70vh;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 2px 5px 0 #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-header {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.8;
}

.list-body {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#alert-message {
    display: flex;
    align-items: center;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9em;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-form{
    padding: 5px 0 10px 0;
}

input {
    border: 1px solid slategray;
    font-size: 0.9em;
}

#popup-alert {
    padding: 5px 10px;
    background: #f9f9f9;
    color: red;
    position: absolute;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px #999999;
    text-align: center;
}

#alert-btn {
    margin-bottom: 5px;
    background: lightgray;
    color: black;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px slategray;
}

.list-items{
    width: 80%;
}