.ListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dotted slategray;
}

.text-status {
    font-family: Pangolin, sans-serif;
    font-size: 1.2em;
    letter-spacing: 1.1px;
}

textarea {
    width: 70%;
    background: transparent;
    border: none;
    font-family: Pangolin, sans-serif;
    font-size: 1em;
    letter-spacing: 1.1px;
    line-height: 0.6;
}

button {
    background: #f9f9f9;
    border: none;
}

#status-btn {
    text-align: left;
}

#edit, #remove {
    color: darkslateblue;
}

#add, #save, #edit:hover {
    color: green;
}

#cancel, #remove:hover {
    color: red;
}