.list-items {
    width: 90%;
    height: 70%;
    overflow: auto;
}

.ListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dotted slategray;
    line-height: 2;
}

textarea {
    margin-left: 20px;
    width: 70%;
    background: transparent;
    border: none;
    font-family: "Mali", sans-serif;
    font-size: 1em;
    letter-spacing: 1.1px;
    line-height: 0.7;
}

button {
    font-family: "Mali", sans-serif;
    font-size: 0.9em;
    background: transparent;
    border: none;
}

.button-div {
    width: 70px;
}

.status-btn {
    text-align: left;
    width: 70%;
}

.status-font {
    color: black;
}

.status, .edit, .remove, .save, .cancel {
    color: darkcyan;
}

.add {
    color: greenyellow;
}

.edit:hover, .save:hover {
    color: green;
}

.cancel:hover, remove:hover {
    color: red;
}