@import url('https://fonts.googleapis.com/css?family=Mali');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Mali", sans-serif;
  font-size: 18px;
  background: turquoise;
}